@{ ViewBag.Title = "Gestión de contenido"; }

<div class="row">
    <div class="col-xs-24">
        <h4><b>GESTIÓN DE CONTENIDO</b></h4>
        <div class="well"></div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Información general
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar la información que pueden ser vista como mensajes para sus usuarios.
            </div>
            <div class="list-group">
                <a href="@Url.Action("Direccion","Gestion")" class="list-group-item">Gestionar direciones</a>
                <a href="@Url.Action("Telefono","Gestion")" class="list-group-item">Gestionar teléfonos</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-sm will--boton blue">Ayuda</button>
            </div>
        </div>
    </div>

    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Documentos adjuntos
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar los documentos adjuntos que pueden ser vista como mensajes para sus usuarios.
            </div>
            <div class="list-group">
                <a href="@Url.Action("Alerta","Reglamento")" class="list-group-item">Gestionar reglamentos</a>
                <a href="@Url.Action("Alerta","Formato")" class="list-group-item">Gestionar formatos</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-sm will--boton blue">Ayuda</button>
            </div>
        </div>
    </div>

    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Enlaces externos
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar los documentos adjuntos que pueden ser vista como mensajes para sus usuarios.
            </div>
            <div class="list-group">
                <a href="@Url.Action("Alerta","Reglamento")" class="list-group-item">Gestionar reglamentos</a>
                <a href="@Url.Action("Alerta","Formato")" class="list-group-item">Gestionar formatos</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-sm will--boton blue">Ayuda</button>
            </div>
        </div>
    </div>

    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Publicaciones
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar publicaciones que pueden ser vistas como mensajes para sus usuarios.
            </div>
            <div class="list-group">
                <a href="@Url.Action("Noticia","Gestion")" class="list-group-item">Gestionar noticias</a>
                <a href="@Url.Action("Actualidad","Gestion")" class="list-group-item">Gestionar actualidades</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-sm will--boton blue">Ayuda</button>
            </div>
        </div>
    </div>

    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Alertas
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar las alertas que pueden ser vistas como mensajes para sus usuarios.
            </div>
            <div class="list-group">
                <a href="@Url.Action("Alerta","Gestion")" class="list-group-item">Gestionar alertas</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-sm will--boton blue">Ayuda</button>
            </div>
        </div>
    </div>

    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-danger">
            <div class="panel-heading">
                Extras! [Beta]
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar las alertas que pueden ser vistas como mensajes para sus usuarios.
            </div>
            <div class="list-group">
                <a href="@Url.Action("Alerta","Gestion")" class="list-group-item">Gestionar alertas</a>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-info btn-sm will--boton blue">Ayuda</button>
            </div>
        </div>
    </div>
</div>

