@{ ViewBag.Title = "Gestión de contenido"; }

<div class="row" ng-controller="InicioController" ng-init="Ocultar()">
    <div class="col-xs-4 fd-menu animated fadeInLeft fd-menu-1">
        <h1>Gestión</h1>
        <p>
            <blockquote>
                Gestione el contenido de su asistente virtual de manera fácil.
            </blockquote>
        </p>
        <ul>
            <li><a ng-click="MostrarInformacion()"><i class="fa fa-folder-open" aria-hidden="true"></i>Información</a></li>
            <li><a ng-click="MostrarPublicacion()"><i class="fa fa-folder-open" aria-hidden="true"></i>Publicaciones</a></li>
            <li><a ng-click="MostrarExtras()"><i class="fa fa-folder-open" aria-hidden="true"></i>Plan de estudios</a></li>
            <li><a ng-click="MostrarDocumento()"><i class="fa fa-folder-open" aria-hidden="true"></i>Documentos</a></li>
            <li><a ng-click="MostrarExtras()"><i class="fa fa-folder-open" aria-hidden="true"></i>Intenciones</a></li>
            <li><a ng-click="MostrarExtras()"><i class="fa fa-folder-open" aria-hidden="true"></i>Extras</a></li>
        </ul>
    </div>

    <div class="col-xs-4 fd-menu animated fadeIn fd-menu-1" style="background-color: #f9f9f9" ng-show="Informacion">
        <h1>Información</h1>
        <p>
            <blockquote>
                Gestione la información general de su asistente virtual.
            </blockquote>
        </p>
        <ul>
            <li><a href="@Url.Action("Nosotros", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Nosotros</a></li>
            <li><a href="@Url.Action("Direccion", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Direcciones</a></li>
            <li><a href="@Url.Action("Telefono", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Teléfonos</a></li>
            <li><a href="@Url.Action("Convenio", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Convenios</a></li>
            <li><a href="@Url.Action("Servicio", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Servicios</a></li>
            <li><a href="@Url.Action("Enlace", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Enlaces importantes</a></li>
            <li><a href="@Url.Action("Admision", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Admisión</a></li>
            <li><a href="@Url.Action("Acreditacion", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Acreditación</a></li>
            <li><a href="@Url.Action("Social", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Redes sociales</a></li>
        </ul>
    </div>

    <div class="col-xs-4 fd-menu animated fadeIn fd-menu-1" style="background-color: #f9f9f9" ng-show="Publicacion">
        <h1>Publicaciones</h1>
        <p>
            <blockquote>
                Gestione las publicaciones de su asistente virtual.
            </blockquote>
        </p>
        <ul>
            <li><a href="@Url.Action("Noticia", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Noticias</a></li>
            <li><a href="@Url.Action("Actualidad", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Actualidades</a></li>
            <li><a href="@Url.Action("Evento", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Eventos</a></li>
        </ul>
    </div>

    <div class="col-xs-4 fd-menu animated fadeIn fd-menu-1" style="background-color: #f9f9f9" ng-show="Documento">
        <h1>Documentos</h1>
        <p>
            <blockquote>
                Gestione los documentos de su asistente virtual.
            </blockquote>
        </p>
        <ul>
            <li><a href="@Url.Action("Formato", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Formatos</a></li>
            <li><a href="@Url.Action("Direccion", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Reglamentos</a></li>
            <li><a href="@Url.Action("Boletin", "Gestion")"><i class="fa fa-folder-open" aria-hidden="true"></i>Boletines</a></li>
        </ul>
    </div>
</div>

@section scripts {
    <script src="~/Angular/Controllers/Gestion/InicioController.js"></script>
}